<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Acerca de nosotros</h1>
            <h4 >Bienvenidos a FicRealm, tu rincón literario en la web. Somos una comunidad apasionada por las letras, dedicada a la publicación y difusión de textos de diversos géneros literarios. Nuestra misión es ofrecer un espacio inclusivo y enriquecedor donde escritores de todas las trayectorias puedan compartir sus obras y los lectores puedan disfrutar de una amplia variedad de contenidos.</h3>
            <h2 class="display-2">Nuestra Visión</h2>
            <h4 >Creemos en el poder de la palabra escrita para inspirar, educar y transformar. Queremos ser el puente entre autores y lectores, facilitando un intercambio cultural y creativo que enriquezca a ambos. Aspiramos a ser una plataforma de referencia para quienes buscan calidad, diversidad y autenticidad en la literatura. </h4>
            <h2 class="display-2">Nuestro compromiso</h2>
            <h4 >Nos comprometemos a apoyar tanto a escritores emergentes como a autores consolidados, proporcionando una plataforma donde sus voces puedan ser escuchadas. Valoramos la diversidad y nos esforzamos por representar una amplia gama de perspectivas y experiencias.</h4>
        </section>
    </main>
    <%- include('partials/footer')%>
    <script type="module" src="/js/enviarbusqueda.js" defer></script>
</body>

</html>