<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación</title>
    <%- include('partials/head') %>
</head>
<%- include('partials/navigation') %>
<body>
    <div class="container mt-5">
        <h2>Publicación Exitosa</h2>
        <p>Tu cuento ha sido publicado con éxito. Solo el administrador puede hacer cambios.</p>
        <a href="/" class="btn btn-primary">Volver al Inicio</a>
    </div>

    <%- include('partials/footer') %>
</body>
</html>
