<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FicRealm</title>
    <link rel="stylesheet" href="/css/loginstyle.css">
</head>
<body>
    <section class="formulario-iniciosesion">
        <h1>¡Bienvenido de nuevo!</h1>
          <form id="formulario-sesion">
              <label for="email">Correo electrónico:</label>
              <input type="email" id="email" name="email"><br><br>
              
              <label for="password">Contraseña:</label>
              <input type="password" id="password" name="password"><br><br>
              
              <input type="submit" id="btn-login" value="Iniciar sesión">
          </form>
      </section>
      <script type="module" src="/jsfirebaseauth.js"></script>
        <script type="module" src="/js/login.js"></script>

</body>
</html>