<footer class="bg-dark text-center p-4">
    <div class="container p-4">
        <p class="h3">Aquí en FicRealm buscamos permitir que todos los usuarios de la web puedan compartir sus historias y tengan un espacio libre de lectura.</p>
        <p class="h4">No nos hacemos responsables de la eliminación de publicaciones siempre y cuando sean a causa de infracciones de derechos de autor que nos reporten.</p>
    </div>
</footer>

<script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>